body {
	margin: 			0;
}
body h1 {
	text-align: 		center;
}

#navbar {
	background-color:  	#14181A;
	height: 			70px;
}

#navbar .button {
	float: 				left;
	text-align:  		center;
	padding-left: 		8px;
	padding-top: 		10px;
	padding-right: 		8px;
	margin-top: 		20px;
	height: 			25px;
	background-color: 	#5D5D5D;
}

#navbar .button_no {
	float: 				left;
	text-align:  		center;
	padding-left: 		8px;
	padding-top: 		10px;
	padding-right: 		8px;
	margin-top: 		20px;
	height: 			25px;
	background-color: 	#5D5D5D;
}

#navbar .button:nth-child(1) {
	margin-left: 		20px;
}

#navbar .button:hover {
	background-color: 	#00F;
}

#content {
	margin: 			10px 0 0 10px;
}