#admin-panel{
	width: 				180px;
	background-color: 	#454545;
	text-align:  		center;
	float: 				left;
}

#admin-panel .button {
	background-color: 	#5E5E5E;
}

#admin-panel .button .hover-button {
	background-color: 	#9C9C9C;
	text-align: 		left;
}

#admin-panel .button .hover-button:hover{
	background-color: 	#858585;
}