.index {
	margin: 10px auto;
}
.firstLi {
	margin: 0 0 0 -30px;
}
.secondLi {
	margin: 10px 0 10px 0px;
	border: solid 1px #BBB;
	height: 40px;
	width: 160px;
	padding: 8px 0 10px 5px;
}
.sideMenu a {
	color: #000;
	list-style: none;	
}
div.col-sm-6:nth-child(3) > ul:nth-child(2) > iframe:nth-child(6) {
	margin: 0 0 0 -60px;
}
