.dropdown  .btn-info {
	float: right;
width: 200px;
height: 50px;
}

.index {
	margin: 10px auto;
}
.firstLi {
	margin: 0 0 0 -30px;
}
.secondLi {
	margin: 10px 0 10px -0px;
	border: solid 1px #BBB;
	height: 40px;
	width: 160px;
	padding: 8px 0 10px 5px;
}
.sideMenu a {
	color: #000;
	list-style: none;	
}
#collapseExample {
	width: 250px;
}
iframe {
	margin: 0 0 0 -35px;
	width: 300px!important;
	height: 300px;
}
div.col-sm-6:nth-child(3) > ul:nth-child(2) > iframe:nth-child(6) {
	margin: 0 0 0 -60px;
}

#carousel-example-generic{
	width: 320px;
margin: 0 0 0 -45px;
height: 100%;
}
.carousel-inner, 
.slide-image{
	height: 200px!important;;
}
.cookie-banner .container {
	width: 100%;
}
.overPersoon {
	float: none;
	margin: 0px;
}